@font-face {
  font-family: mc-l;
  src: url(../font/mplus-1m-light.ttf) format("opentype"); }

@font-face {
  font-family: mc-b;
  src: url(../font/mplus-1m-bold.ttf) format("opentype"); }

@font-face {
  font-family: mc-r;
  src: url(../font/mplus-1m-regular.ttf) format("opentype"); }

@font-face {
  font-family: mc-t;
  src: url(../font/mplus-1m-thin) format("opentype"); }

@font-face {
  font-family: mc-m;
  src: url(../font/mplus-1m-medium.ttf) format("opentype"); }

* {
  padding: 0;
  margin: 0;
  font-weight: normal; }

.p-v-01 {
  padding: 1rem 0rem; }

.p-v-02 {
  padding: 2rem 0rem; }

.p-v-03 {
  padding: 3rem 0rem; }

.p-v-04 {
  padding: 4rem 0rem; }

.p-v-05 {
  padding: 5rem 0rem; }

.p-v-06 {
  padding: 6rem 0rem; }

.p-v-07 {
  padding: 7rem 0rem; }

.p-v-08 {
  padding: 8rem 0rem; }

body {
  background-image: -webkit-radial-gradient(#444 20%, transparent 0), -webkit-radial-gradient(#444 20%, transparent 0);
  background-image: radial-gradient(#444 20%, transparent 0), radial-gradient(#444 20%, transparent 0);
  background-position: 0 0, 10px 10px;
  background-size: 10px 10px;
  font-family: mc-l; }

#title {
  text-align: center;
  margin: 50px;
  font-weight: 100; }

h3 {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: #3d808b;
  margin-bottom: 6px; }

p {
  font-size: 10px;
  color: #3d808b; }

div.item {
  margin-bottom: 25px;
  padding: 34px 25px 22px;
  text-align: center;
  background: #fff; }

div.title-header {
  height: 80px; }

div.avatar {
  width: 150px;
  height: 150px;
  margin: 0 auto 22px;
  border: 2px solid #3d808b;
  padding: 3px;
  border-radius: 50%; }

.avatar img {
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 50%; }

.btn {
  border: 0;
  border-radius: 0;
  font-weight: 700;
  margin: 5px; }

.btn-demo {
  border: 0;
  color: #fff;
  background-color: #3d808b; }

.btn-demo:hover {
  border: 0;
  color: #fff;
  background-color: #5dabb8; }

.navbar-default {
  background-color: #fff;
  border: none; }
