doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    title React_bootstrap
  body
    div#containerDOM
    div#animation
    script(src="js/bundle.js")
